# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Import data

In [2]:
ords_prods_cust_merge= pd.read_pickle(r"C:\Users\Asus\Instacart Basket Analysis\02 Data\Prepared Data\final_data.pkl")

In [3]:
# Check the data is imported correct. Check top 5 records

ords_prods_cust_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,median_order_freq_flag,first_name,surname,gender,state,age,date_joined,number_of_dependants,marital_status,income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [4]:
#Check info of the data

ords_prods_cust_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 32 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 object
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  _merge                  category
 14  price_range_loc         object
 15  busiest_days            object
 16  busiest_hours           object
 17  max_orders              int64
 18  loyalty_flag            object
 19  avg_spend               float64
 20  spender_flag            object
 21  median_order_frequency  float64
 22  median_order_freq_flag  object
 23  first_name              object
 24  surname                 object
 25  gender                  object
 26  state                   object
 27  age                     int64
 28  date_joined             object
 29  number_of_dependants    int64
 30  marital_status          object
 31  income                  int64
dtypes: category(1), float64(4), int64(12), object(15)
memory usage: 7.5+ GB

#### personally identifiable information (PII)

* We can see first_name and surname are 2 columns which are considered as PII

In [5]:
#Check the shape of the data (number of rows and columns)

ords_prods_cust_merge.shape

(32404859, 32)

In [6]:
# Store the value counts in new dataframe

state=ords_prods_cust_merge["state"].value_counts()

In [7]:
state

state
Pennsylvania            667082
California              659783
Rhode Island            656913
Georgia                 656389
New Mexico              654494
Arizona                 653964
North Carolina          651900
Oklahoma                651739
Alaska                  648495
Minnesota               647825
Massachusetts           646358
Wyoming                 644255
Virginia                641421
Missouri                640732
Texas                   640394
Colorado                639280
Maine                   638583
North Dakota            638491
Alabama                 638003
Kansas                  637538
Louisiana               637482
Delaware                637024
South Carolina          636754
Oregon                  636425
Arkansas                636144
Nevada                  636139
New York                635983
Montana                 635265
South Dakota            633772
Illinois                633024
Hawaii                  632901
Washington              632852
Mississippi             632675
Kentucky                632490
Michigan                630928
Florida                 629027
Ohio                    628319
Wisconsin               628108
New Jersey              627692
Indiana                 627282
Maryland                626579
Nebraska                625813
Iowa                    625493
Connecticut             623022
Tennessee               617873
New Hampshire           615378
District of Columbia    613695
West Virginia           612296
Utah                    611941
Vermont                 611725
Idaho                   607119
Name: count, dtype: int64

In [8]:
# Copied to clipbord

state.to_clipboard()

### 3. The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.

In [9]:
# create a for loop where state's region is mentioned and stored in result

result = []

for x in ords_prods_cust_merge["state"]:
    if x in ["Connecticut","Maine", "Massachusetts", "New Hampshire", "New Jersey",
               "Rhode Island", "Vermont", "New York", "Pennsylvania" ]:
        result.append ("Northeast")
        
    elif x in ["Illinois", "Indiana", "Iowa", "Michigan", "Minnesota", "Missouri", 
               "Nebraska", "North Dakota" ,"Ohio", "South Dakota", "Wisconsin"]:
        result.append ("Midwest")
            
    elif x in ["Alabama", "Arkansas", "Delaware", "District of Columbia", "Florida", "Georgia", "Kansas", "Kentucky",
               "Louisiana", "Maryland", "Mississippi", "North Carolina", "Oklahoma", "South Carolina", "Tennessee",
               "Texas", "Virginia", "West Virginia"]:
        result.append("South")
    
    elif x in ["Alaska", "Arizona", "California", "Colorado", "Hawaii", "Idaho", "Montana", "Nevada", "New Mexico",
               "Oregon", "Utah", "Washington", "Wyoming"]:
        result.append("West")
    
    else:
        result.append("Unknown")

In [10]:
result

['South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 ...]

In [11]:
# Save the result in new column called region

ords_prods_cust_merge["region"]=result

In [12]:
# Check the value counts Region

ords_prods_cust_merge["region"].value_counts(dropna= False)

region
South        11429423
West          8292913
Midwest       6959787
Northeast     5722736
Name: count, dtype: int64

### 3. b.) Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

In [13]:
crosstab= pd.crosstab(ords_prods_cust_merge["spender_flag"], ords_prods_cust_merge["region"], dropna= False )
crosstab

region        Midwest  Northeast     South     West
spender_flag
High spender   197777     152577    310764   227044
Low spender   6762010    5570159  11118659  8065869

### 4. The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

In [14]:
# create exclusion flag with less than 5 orders as low-activity

ords_prods_cust_merge.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merge', 'price_range_loc', 'busiest_days',
       'busiest_hours', 'max_orders', 'loyalty_flag', 'avg_spend',
       'spender_flag', 'median_order_frequency', 'median_order_freq_flag',
       'first_name', 'surname', 'gender', 'state', 'age', 'date_joined',
       'number_of_dependants', 'marital_status', 'income', 'region'],
      dtype='object')

In [15]:
#Create an exclusion flag

ords_prods_cust_merge.loc[ords_prods_cust_merge["max_orders"]<5, "exclusion_flag"] = "Low Activity"
ords_prods_cust_merge.loc[ords_prods_cust_merge["max_orders"]>=5, "exclusion_flag"] = "Regular Activity"

In [16]:
ords_prods_cust_merge["exclusion_flag"].value_counts()

exclusion_flag
Regular Activity    30964564
Low Activity         1440295
Name: count, dtype: int64

In [17]:
# create a new dataframe for "Low Activity"

low_activity_cust=ords_prods_cust_merge[ords_prods_cust_merge["exclusion_flag"]== "Low Activity"]

In [18]:
# Check if the data loooks fine

low_activity_cust.head(50)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,surname,gender,state,age,date_joined,number_of_dependants,marital_status,income,region,exclusion_flag
1510,520620,120,1,3,11,NaN,196,2,0,Soda,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low Activity
1511,3273029,120,3,2,8,19.0,196,2,1,Soda,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low Activity
1512,520620,120,1,3,11,NaN,46149,1,0,Zero Calorie Cola,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low Activity
1513,3273029,120,3,2,8,19.0,46149,1,1,Zero Calorie Cola,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low Activity
1514,520620,120,1,3,11,NaN,26348,3,0,Mixed Fruit Fruit Snacks,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low Activity
1515,906054,120,2,4,7,15.0,31102,1,0,Sugar Free Energy Drink,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low Activity
1516,3273029,120,3,2,8,19.0,31102,3,1,Sugar Free Energy Drink,...,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,Low Activity
3855,3226575,360,1,5,12,NaN,196,1,0,Soda,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3856,3046940,360,2,2,8,4.0,5322,3,0,Gluten Free Dark Chocolate Chunk Chewy with a ...,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3857,2300993,360,3,1,13,6.0,5322,2,1,Gluten Free Dark Chocolate Chunk Chewy with a ...,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3858,3226575,360,1,5,12,NaN,41406,5,0,Orange Soda,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3859,2300993,360,3,1,13,6.0,28155,3,0,Premium Lager Beer,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3860,3226575,360,1,5,12,NaN,40910,3,0,Root Beer,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3861,3046940,360,2,2,8,4.0,18095,4,0,Gluten Free Whole Grain Bagels,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3862,2300993,360,3,1,13,6.0,18095,5,1,Gluten Free Whole Grain Bagels,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3863,3226575,360,1,5,12,NaN,43556,2,0,Diet Lemon Lime Soda,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3864,3046940,360,2,2,8,4.0,32285,5,0,Gluten Free Cinnamon Raisin Bagels,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3865,3046940,360,2,2,8,4.0,17022,6,0,Elbows Pasta,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3866,3226575,360,1,5,12,NaN,3039,4,0,Wild Cherry Cola,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3867,3046940,360,2,2,8,4.0,25630,1,0,Healthy Grains Fiber Cinnamon Oat Clusters,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3868,3046940,360,2,2,8,4.0,19376,2,0,Gluten Free Crunchy Vanilla Cereal,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3869,2300993,360,3,1,13,6.0,19376,1,1,Gluten Free Crunchy Vanilla Cereal,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3870,2300993,360,3,1,13,6.0,31716,4,0,312 Urban Wheat,...,Greene,Male,Arizona,46,9/1/2017,1,married,104257,West,Low Activity
3871,1469869,377,3,5,17,3.0,196,9,0,Soda,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3872,3371122,377,1,3,17,NaN,16797,5,0,Strawberries,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3873,3371122,377,1,3,17,NaN,24852,6,0,Banana,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3874,994985,377,2,2,12,30.0,24852,2,1,Banana,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3875,1469869,377,3,5,17,3.0,47209,2,0,Organic Hass Avocado,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3876,3371122,377,1,3,17,NaN,39190,7,0,Vanilla Unsweetened Almond Milk,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3877,1469869,377,3,5,17,3.0,1200,6,0,Vegetable Classics Vegetable Soup,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3878,3371122,377,1,3,17,NaN,21573,1,0,Roasted Pine Nut Hummus,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3879,994985,377,2,2,12,30.0,21573,9,1,Roasted Pine Nut Hummus,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3880,3371122,377,1,3,17,NaN,38293,4,0,Ground Turkey Breast,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3881,994985,377,2,2,12,30.0,8424,4,0,Broccoli Crown,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3882,1469869,377,3,5,17,3.0,47626,8,0,Large Lemon,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3883,3371122,377,1,3,17,NaN,24184,10,0,Red Peppers,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3884,994985,377,2,2,12,30.0,43789,5,0,Organic Basil,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3885,994985,377,2,2,12,30.0,23219,8,0,Nutz Over Chocolate,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3886,3371122,377,1,3,17,NaN,17795,9,0,Organic Green Leaf Lettuce,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3887,994985,377,2,2,12,30.0,23341,1,0,Large Grade AA Eggs,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3888,3371122,377,1,3,17,NaN,2091,2,0,Almond Nut & Rice Cracker Snacks,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3889,3371122,377,1,3,17,NaN,2120,11,0,Sauvignon Blanc,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3890,1469869,377,3,5,17,3.0,1117,1,0,Turkey Bacon,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3891,3371122,377,1,3,17,NaN,11422,3,0,Plain Greek Yogurt,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3892,1469869,377,3,5,17,3.0,14573,4,0,Organic Tomato Basil Soup,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3893,3371122,377,1,3,17,NaN,21511,8,0,Lite Balsamic Dressing,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3894,994985,377,2,2,12,30.0,38236,6,0,Quinoa,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3895,994985,377,2,2,12,30.0,38995,3,0,Pomelo Grapefruit & Aloe Appeal,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3896,994985,377,2,2,12,30.0,38044,7,0,Bocconcini Bite Sized Fresh Mozzarella,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity
3897,1469869,377,3,5,17,3.0,26425,3,0,Sliced Sharp Cheddar Cheese,...,Marshall,Female,Maine,49,11/25/2018,2,married,108557,Northeast,Low Activity

In [19]:
# Save the "Low activity" in pickle format

low_activity_cust.to_pickle(r"C:\Users\Asus\Instacart Basket Analysis\02 Data\Prepared Data\low_activity_cust.pkl")

In [20]:
# Replace ords_prods_cust_merge with only "Regular Activity"

ords_prods_cust_merge=ords_prods_cust_merge.loc[ords_prods_cust_merge["exclusion_flag"]== "Regular Activity"]

In [21]:
# Check the shape of the updated dataframe.

ords_prods_cust_merge.shape

(30964564, 34)

### 5. The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database. Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

In [22]:
#Create Age group

ords_prods_cust_merge["age"].describe()

count    3.096456e+07
mean     4.946803e+01
std      1.848528e+01
min      1.800000e+01
25%      3.300000e+01
50%      4.900000e+01
75%      6.500000e+01
max      8.100000e+01
Name: age, dtype: float64

In [23]:
ords_prods_cust_merge.loc[(ords_prods_cust_merge["age"]>=18) & (ords_prods_cust_merge["age"]<=39), "age_group"]= "Young Adults"
ords_prods_cust_merge.loc[(ords_prods_cust_merge["age"]>=40) & (ords_prods_cust_merge["age"]<=59), "age_group"]= "Middle-aged Adults"
ords_prods_cust_merge.loc[(ords_prods_cust_merge["age"]>=60) & (ords_prods_cust_merge["age"]<=81), "age_group"]= "Senior Adults"

In [24]:
ords_prods_cust_merge["age_group"].value_counts(dropna=False)

age_group
Young Adults          10665110
Senior Adults         10574504
Middle-aged Adults     9724950
Name: count, dtype: int64

In [25]:
# Create Income group

ords_prods_cust_merge["income"].describe()

count    3.096456e+07
mean     9.967587e+04
std      4.314187e+04
min      2.590300e+04
25%      6.729200e+04
50%      9.676500e+04
75%      1.281020e+05
max      5.939010e+05
Name: income, dtype: float64

In [26]:
ords_prods_cust_merge.loc[ords_prods_cust_merge["income"]<=67292, "income_group"] = "Low income"

In [27]:
ords_prods_cust_merge.loc[(ords_prods_cust_merge["income"]>67292) & (ords_prods_cust_merge["income"]<=150000), "income_group"]= "Mid income"

In [28]:
ords_prods_cust_merge.loc[ords_prods_cust_merge["income"]>150000, "income_group"] = "High income"

In [29]:
ords_prods_cust_merge["income_group"].value_counts()

income_group
Mid income     19328682
Low income      7741348
High income     3894534
Name: count, dtype: int64

In [30]:
df= ords_prods_cust_merge

#### Create labels based on department

In [31]:
# Import Department data

df_dept= pd.read_csv(r"C:\Users\Asus\Instacart Basket Analysis\02 Data\Prepared Data\department_wrangled.csv")
df_dept

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

In [32]:
# Renaming Unnamed: 0' to 'department_id'
df_dept.rename(columns = {'Unnamed: 0' : 'department_id'}, inplace = True)

In [33]:
# Merging the final data set with all the changes made with the departments file

df= df.merge(df_dept, on= "department_id" )

In [34]:
df["department"].value_counts()

department
produce            9079273
dairy eggs         5177182
snacks             2766406
beverages          2571901
frozen             2121731
pantry             1782705
bakery             1120828
canned goods       1012074
deli               1003834
dry goods pasta     822136
household           699857
meat seafood        674781
breakfast           670850
personal care       424306
babies              410392
international       255991
alcohol             144627
pets                 93060
missing              64768
other                34411
bulk                 33451
Name: count, dtype: int64

In [35]:
# Create a dependant group
df.loc[df["number_of_dependants"]==0, "dependant_group"] = "No dependants"
df.loc[df["number_of_dependants"]>0, "dependant_group"] = "Dependants"

In [36]:
df["dependant_group"].value_counts(dropna= False)

dependant_group
Dependants       23224883
No dependants     7739681
Name: count, dtype: int64

#### Family Profiling

In [37]:
df["marital_status"].value_counts(dropna=False)

marital_status
married                             21743711
single                               5094410
divorced/widowed                     2645271
living with parents and siblings     1481172
Name: count, dtype: int64

In [38]:
df["gender"].value_counts(dropna=False)

gender
Male      15586740
Female    15377824
Name: count, dtype: int64

In [39]:
# Married male and Female with no dependants

df.loc[(df["marital_status"]== "married") 
       & (df["dependant_group"]== "No dependants")  
       & (df["gender"]== "Male"),
       "family_profile"]= "Male Married with No Dependants"

In [40]:
df.loc[(df["marital_status"]== "married") 
       & (df["dependant_group"]== "No dependants")  
       & (df["gender"]== "Female"),
       "family_profile"]= "Female Married with No Dependants"

In [41]:
## Married male and female with dependants

df.loc[(df["marital_status"]== "married") 
       & (df["dependant_group"]== "Dependants") 
       & (df["gender"]== "Male"),
       "family_profile"]= "Male Married with Dependants"

In [42]:
df.loc[(df["marital_status"]== "married") 
       & (df["dependant_group"]== "Dependants")  
       & (df["gender"]== "Female"),
       "family_profile"]= "Female Married with No Dependants"

In [43]:
# Single male & female with no dependants

df.loc[(df["marital_status"].isin(['single','living with parents and siblings','divorced/widowed'])) 
       & (df["dependant_group"]== "No dependants")   
       & (df["gender"]== "Male"),
       "family_profile"]= "Male single with No Dependants"

In [44]:
df.loc[(df["marital_status"].isin(['single','living with parents and siblings','divorced/widowed']))
       & (df["dependant_group"]== "No dependants")  
       & (df["gender"]== "Female"),
       "family_profile"]= "Female single with No Dependants"

In [45]:
# Single male & female with Dependants

df.loc[(df["marital_status"].isin(['single','living with parents and siblings','divorced/widowed'])) 
       & (df["dependant_group"]== "Dependants") 
       & (df["gender"]== "Male"),
       "family_profile"]= "Male single with Dependants"

In [46]:
df.loc[(df["marital_status"].isin(['single','living with parents and siblings','divorced/widowed']))
       & (df["dependant_group"]== "Dependants")  
       & (df["gender"]== "Female"),
       "family_profile"]= "Female single with Dependants"

In [47]:
# Based on the results we can see that the numbers make sense in general, but there is no result of married male or female without children.
df['family_profile'].value_counts(dropna = False).sort_values()

family_profile
Female single with Dependants          723576
Male single with Dependants            757596
Female single with No Dependants      3858283
Male single with No Dependants        3881398
Female Married with No Dependants    10795965
Male Married with Dependants         10947746
Name: count, dtype: int64

In [48]:
df.to_pickle(r'C:\Users\Asus\Instacart Basket Analysis\02 Data\Prepared Data\df_final.pkl')